body,span,a{margin: 0px;padding: 0px;}
body{
	background-color: #E1E1E1;
}
a{
	text-decoration: underline;
	border-style: none;
    border-width: 0px;
}
.css320{
	display: none;
}
.css960{
	display: block;
	/*border:1px solid red;*/
	/*width:1000px;*/
	margin:0 auto;
}
.closeBigImage{
	/*border: 1px solid red;*/
	position: fixed;
	right: 10px;
	top: 10px;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background: url(../images/closeNav.png);
	border:2px solid #000;
	cursor: pointer;
}

/*最大的div*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 1080px;
	margin: 40px auto 200px;
	transform: scale(0.8);
	position: relative;
	top:-200px;
}
.backgroundPosition_aboutUs{
	margin: 70px auto 200px;
}

/*导航的位置*/
.navPosition{
	/*border:1px solid #00ff00;*/
	width: 1080px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}
/*logo的位置*/
.logo{
	width: 100px;
	height: 100px;
	background: url(../images/logo.png);
	background-size:100px;
	position: absolute;
	top:0px;
	left: -110px;
	cursor: pointer;
}
/*上面横线*/
.upLine{
	height: 2px;
	background-color: #686868;
}
/*四个导航*/
.navs{
	/*border:1px solid #0000ff;*/
	width: 500px;
	height: 25px;
	margin-top: 12px;
}
/*每个导航*/
.navs .nav{
	float: left;
	width: 125px;
}
.nav .dot{
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
}
.nav .dot:hover{
	background-color: #0f0;
}
.nav .navName{
	float: left;
	text-indent: 3px;
	line-height: 25px;
	font-size: 12px;
	color: #787878;
	font-weight: bold;
	cursor: pointer;
}
/*二维码圆*/
.checkMark{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #0f0;
	opacity: 0.5;
	position: absolute;
	top:20px;
	right:188px;
}
.checkMark2{
	right:53px;
}
.qrcodeDots{
	/*border:1px solid red;*/
	float: right;
	position: relative;
	top:-25px;
}
.qrcodeDots a{
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: #0f0;
	cursor: pointer;
	overflow: hidden;
	border:none;
	margin-left: 20px;
}
.qrcodeDots a img{
	width: 25px;
	height: 25px;
	position: relative;
	top:-2px;
	left: -2px;
}
/*显示二维码的圆*/
.showQdcode{
	width: 170px;
	height: 170px;
	border-radius: 170px;
	position: absolute;
	top:60px;
	right:102.5px;
	background-color: #0F0;
	opacity: 0.7;
	overflow: hidden;
	/*display: none;*/
	z-index: 998;
	box-shadow: #ccc 0 0 5px 0;
}
.showQdcode2{
	position: absolute;
	top:60px;
	right:-28.75px;
}
.Qdcode{
	position:relative;
	top:20px;
	left:20px;
	width:130px;
}
.Qdcode img{
	width:130px;
}
.QdcodeImg{
	/*border:1px solid red;*/
	width:100px;
	height: 100px;
	position: absolute;
	top:95px;
	right: 137.5px;
	z-index: 999;
}
.QdcodeImg2{
	/*border:1px solid red;*/
	width:100px;
	height: 100px;
	position: absolute;
	top:95px;
	right: 6.25px;
	z-index: 999;
}
/*搜索*/
.search{
	float: right;
	border-bottom:2px solid #ccc;
	width: 100px;
	height: 22px;
	margin-left: 20px;
	position: relative;
	top:-20px;
}
.search input{
	width: 100px;
	height: 20px;
	text-indent: 20px;
	background-color: #E1E1E1;
	border:none;
	outline: none;
}
/*下横线*/
.downLine{
	height: 2px;
	background-color: #686868;
	margin-top: 10px;
}
/*导航的位置*/


/*文章内容页*/
.articleContent{
	/*border:1px solid red;*/
	margin: 45px auto 0px;
	width: 640px;
	padding-bottom: 50px;
	position: relative;
}
/*撑开文章高度*/
.openArticleWord{
	float: left;
	/*border:1px solid red;*/
	width: 0;
	height: 500px;
}
.articleImage{
	/*height: 320px;*/
	background-color: #fff;
}
.articleTitle{
	/*border:1px solid red;*/
	color: #333;
	font-size: 48px;
	min-height: 48px;
	line-height: 48px;
	margin-top: 45px;
	font-weight: bold;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
	word-wrap:break-word;/*支持IE，chrome，FF*/
}
.articleAuthor{
	/*border:1px solid red;*/
	color: #666;
	font-size: 16px;
	/*height: 16px;*/
	line-height: 16px;
	margin-top: 20px;
	font-weight: bold;
	
}
.articleAbstract{
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	font-size: 18px;
	/*height: 60px;*/
	line-height: 18px;
	padding: 20px;
	overflow: hidden;
	margin-top: 45px;
	text-align: center;
}
.article{
	/*border:1px solid red;*/
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	overflow:hidden;
	margin-top: 20px
}
.articleShare{
	/*border:1px solid red;*/
	width: 235px;
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.articleShare .share{
	float: left;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
}
.articleShare .shareDot{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: #1DFF00;
	margin-left: 10px;
}
/*文章内容页*/




/*底部链接栏*/
.bottomLink{
	/*border:1px solid red;*/
	margin-top: 100px;
	width: 1080px;
	margin-bottom: 45px;
	height: 30px;
	color: rgb(120,120,120);
	line-height: 30px;
}
.links{
	/*border:1px solid red;*/
}
.links .link{
	/*border:1px solid red;*/
	float: left;
	/*width: 80px;*/
	font-size: 10px;
	font-weight: bold;
	color: #b6b6b6;
	border:none;
	margin-right: 20px;
}
.records{
	/*border:1px solid red;*/
	float: right;
	width: 440px;
	font-size: 10px;
	font-weight: bold;
	color: #b6b6b6;
}
.email,.record{
	/*border:1px solid red;*/
	float: left;
}
.email{
	width: 85px;
}
.record{
	width: 300px;
	margin-left: 5px;
}
.emailDot,.recordDot{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #9a9a9a;
}
.word{
	/*border:1px solid red;*/
	/*float: left;*/
	text-indent: 5px;
	border:none;
	color:#b6b6b6;
	white-space:nowrap
}
.link{
	color:#6f6f6f;
	font-weight:bold;
	text-decoration:underline;
	display: inline; 
	border:0px;
}
/*底部链接栏*/