.about_Nav{
	/*border:1px solid #000;*/
	border-bottom:2px solid #686868;
	/*border-top:2px solid #686868;*/
	margin: 0 auto;
    position: relative;
    width: 1080px;
	text-align: center;
}
.about_content{
	/*border:1px solid #000;*/
	margin:15px auto 0;
	padding-bottom:0px;
	width: 780px;
}

.about_Nav img{
	margin-top: -12px;
	margin-bottom:-2px;
}

.content_nav_left{
	float:left;
	width: 200px;
	text-align: center;
	font-size: 12px;
	margin-left: 70px;
	letter-spacing:5px;
	color: #ADADAD;
	line-height: 22px;
	cursor: pointer;
}

.content_nav_right{
	float:right;
	width: 200px;
	text-align: center;
	font-size: 12px;
	margin-right: 70px;
	letter-spacing:5px;
	color: #ADADAD;
	line-height: 22px;
	cursor: pointer;
}

.content_nav_select{
	color: #353535;
}

.border{
	float: left;
	width:100px;
	border-bottom: 2px solid #ADADAD;
}

.border_green{
	border-bottom: 2px solid #1DFF00;
}

.border_black{
	border-bottom: 2px solid #686868;
}

.cell_logo{
	width: 50px;
	float: left;
}

.cell_content{
	width: 640px;
	margin-left: 20px;
	float: left;
}

.cell_title{
	font-size: 20px;
	margin-top:10px;
}

.cell_text{
	font-size: 16px;
	line-height: 26px;
	color: #353535;
	margin-top: 18px;
	border:none;
}
.text_word{
	/*border:1px solid red;*/
	width: 640px;
	margin: 40px auto 0;
	color: rgb(120,120,120);
}
.text_word1{
	/*border:1px solid red;*/
	color: rgb(53,53,53);
	font-size: 16px;
}
.text_word2{
	/*border:1px solid red;*/
	margin-top:20px;
	color: rgb(53,53,53);
	font-size: 16px;
}
.memberIntroduction{
	width: 660px;
	margin: 40px auto 0;
	/*border-bottom:2px solid #686868;*/
}
.member{
	float: left;
	width: 200px;
	height: 175px;
	margin-left: 10px;
	margin-right: 10px;
	/*border:1px solid #0f0;*/
}
.memberPhoto{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	overflow: hidden;
}
.img{
	width: 100px;
	height: 100px;
}
.introduction{
	border-top:1px solid #000;
	width: 200px;
	margin-top: 10px;
	padding-top: 10px;
	color: rgb(53,53,53);
	font-size: 12px;
	line-height: 18px;
	text-align: justify;
}
.contractUs{
	width: 640px;
	margin-left: 70px;
	margin-right:70px;
	margin-top:22px;
	margin-bottom:38px;
	border-top:2px solid #686868;
	color: #444;
	font-size: 16px;
}
.contractTitle{
	margin-top: 38px;
	/*border:1px solid red;*/
	font-weight: bold;
}
.contractEmail,.contractTel,.contractAddress{
	margin-top: 25px;
	letter-spacing:4px;
}
.link{
	cursor: pointer;
}
.connect{
	margin-top: 35px;
	width: 640px;
}