body,span,a{margin: 0px;padding: 0px;}
body{
	background-color: #E1E1E1;
}
a{
	text-decoration: underline;
	border-style: none;
    border-width: 0px;
}
.css320{
	display: none;
}
.css960{
	display: block;
	/*border:1px solid red;*/
	/*width:1000px;*/
	margin:0 auto;
}
.closeBigImage{
	/*border: 1px solid red;*/
	position: fixed;
	right: 10px;
	top: 10px;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background: url(../images/closeNav.png);
	border:2px solid #000;
	cursor: pointer;
}

/*最大的div*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 80%;
	margin: 40px auto 200px;
	transform: scale(0.8);
	position: relative;
	top:-200px;
}
.backgroundPosition_aboutUs{
	margin: 70px auto 200px;
}

/*导航的位置*/
.navPosition{
	/*border:1px solid #00ff00;*/
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}
/*logo的位置*/
.logo{
	width: 90px;
	height: 90px;
	background: url(../images/logo.png);
	background-size:90px;
	position: absolute;
	top:0px;
	left: -100px;
	cursor: pointer;
}
/*上面横线*/
.upLine{
	height: 2px;
	background-color: #686868;
}
/*四个导航*/
.navs{
	/*border:1px solid #0000ff;*/
	width: 500px;
	height: 25px;
	margin-top: 12px;
}
/*每个导航*/
.navs .nav{
	float: left;
	width: 125px;
}
.nav .dot{
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
}
.nav .dot:hover{
	background-color: #0f0;
}
.nav .navName{
	float: left;
	text-indent: 3px;
	line-height: 25px;
	font-size: 12px;
	color: #999;
	font-weight: bold;
	cursor: pointer;
}
/*二维码圆*/
.checkMark{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #0f0;
	opacity: 0.5;
	position: absolute;
	top:20px;
	right:188px;
}
.checkMark2{
	right:53px;
}
.qrcodeDots{
	/*border:1px solid red;*/
	float: right;
	position: relative;
	top:-25px;
}
.qrcodeDots a{
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: #0f0;
	cursor: pointer;
	overflow: hidden;
	border:none;
	margin-left: 20px;
}
.qrcodeDots a img{
	width: 25px;
	height: 25px;
	position: relative;
	top:-2px;
	left: -2px;
}
/*显示二维码的圆*/
.showQdcode{
	width: 170px;
	height: 170px;
	border-radius: 170px;
	position: absolute;
	top:60px;
	right:0px;
	background-color: #0F0;
	opacity: 0.7;
	overflow: hidden;
	/*display: none;*/
	z-index: 998;
	box-shadow: #ccc 0 0 5px 0;
}
.Qdcode{
	position:relative;
	top:20px;
	left:20px;
	width:130px;
}
.Qdcode img{
	width:130px;
}
.QdcodeImg{
	/*border:1px solid red;*/
	width:100px;
	height: 100px;
	position: absolute;
	top:95px;
	right: 35px;
	z-index: 999;
}
/*搜索*/
.search{
	float: right;
	border-bottom:2px solid #ccc;
	width: 100px;
	height: 22px;
	margin-left: 20px;
	position: relative;
	top:-20px;
}
.search input{
	width: 100px;
	height: 20px;
	text-indent: 20px;
	background-color: #E1E1E1;
	border:none;
	outline: none;
}
/*下横线*/
.downLine{
	height: 2px;
	background-color: #686868;
	margin-top: 13px;
}
/*导航的位置*/


/*文章内容页*/
.articleContent{
	/*border:1px solid red;*/
	margin: 45px auto 0px;
	width: 640px;
	padding-bottom: 50px;
	position: relative;
}
/*撑开文章高度*/
.openArticleWord{
	float: left;
	/*border:1px solid red;*/
	width: 0;
	height: 500px;
}
.articleImage{
	/*height: 320px;*/
	background-color: #fff;
}
.articleTitle{
	/*border:1px solid red;*/
	color: #333;
	font-size: 48px;
	min-height: 48px;
	line-height: 48px;
	margin-top: 45px;
	font-weight: bold;
	word-break:break-all; /*支持IE，chrome，FF不支持*/
	word-wrap:break-word;/*支持IE，chrome，FF*/
}
.articleAuthor{
	/*border:1px solid red;*/
	color: #666;
	font-size: 16px;
	/*height: 16px;*/
	line-height: 16px;
	margin-top: 20px;
	font-weight: bold;
}
.articleAbstract{
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	font-size: 18px;
	/*height: 60px;*/
	line-height: 18px;
	padding: 20px;
	overflow: hidden;
	margin-top: 45px;
	text-align: center;
}
.article{
	/*border:1px solid red;*/
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	overflow:hidden;
	margin-top: 20px
}
.articleShare{
	/*border:1px solid red;*/
	width: 235px;
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.articleShare .share{
	float: left;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
}
.articleShare .shareDot{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: #1DFF00;
	margin-left: 10px;
}
/*文章内容页*/



/*与底部的分割线*/
.splitLine{
	/*margin: 0 auto;*/
	/*width: 1024px;*/
	width: 1100px;
	margin: 0 auto;
	height: 2px;
	background-color: #686868;
}



/*推荐列表*/
.recommendList{
	/*border:1px solid red;*/
	margin: 20px auto 0px;
	width: 1100px;
	height: 245px;
	overflow: hidden;
	cursor: pointer;
}
/*某个推荐*/
.recommend{
	/*border:1px solid red;*/
	float: left;
	width: 200px;
	height: 245px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
}
/*推荐的图片部分包括遮罩*/
.recommendIcon{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	position: relative;
}
.pictureBox{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	overflow: hidden;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;//重点
	-moz-transition:0.4s linear;
}
/*图片的遮罩*/
.pictureMask{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: transparent;
	position: absolute;
	top:0px;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;//重点
	-moz-transition:0.4s linear;
}
.picture{
	width: 200px;
	height: 200px;
	transition:0.4s linear;
}
/*.cityName{
	position: absolute;
	top:0px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}*/
/*悬浮时的效果*/
.recommendIcon:hover .pictureBox{
	border-radius: 15px;
	transform:rotate(45deg) scale(0.75);
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
}
.recommendIcon:hover .pictureMask{
	background-color: #00ff00;
	opacity:0.4;
	border-radius: 15px;
	transform:rotate(45deg) scale(0.75);
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
}
.recommendIcon:hover .picture{
	transform: rotate(-45deg) scale(1.35);
}
/*.recommendIcon:hover .cityName{
	display: none;
}*/
/*序号*/
.number{
	/*border:1px solid red;*/
	width: 60px;
	height: 30px;
	line-height: 0px;
	position: absolute;
	bottom: 60px;
	color: #535353;
	opacity: 0.7;
}
.symbol{
	/*border:1px solid red;*/
	font-size: 12px;
	position: relative;
	top:-25px;
}
.num{
	/*border:1px solid red;*/
	font-size: 44px;
	line-height: 30px;
}
/*城市信息*/
.cityIntroduction{
	width: 180px;
	height: 34px;
	border-top: 2px solid #535353;
	border-bottom: 2px solid #535353;
	/*文字css*/
	text-align: center;
	line-height: 34px;
	color: #535353;
	opacity: 0.7;
	font-size: 10px;
	font-weight: bold;
	/*位置css*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
}
/*时间*/
.time{
	height: 6px;
	line-height: 6px;
	color: #535353;
	opacity: 0.7;
	position: absolute;
	bottom: 1px;
	font-size: 8px;
	/*border:1px solid red;*/
}
/*推荐列表*/



/*底部链接栏*/
.bottomLink{
	/*border:1px solid red;*/
	margin: 160px auto;
	width: 1100px;
	height: 30px;
	color: rgb(120,120,120);
	line-height: 30px;
}
.links{
	/*border:1px solid red;*/
}
.links .link{
	/*border:1px solid red;*/
	float: left;
	/*width: 80px;*/
	font-size: 12px;
	font-weight: bold;
	color: #b6b6b6;
	border:none;
	margin-right: 20px;
}
.records{
	/*border:1px solid red;*/
	float: right;
	width: 430px;
	font-size: 12px;
	font-weight: bold;
	color: #b6b6b6;
}
.email,.record{
	/*border:1px solid red;*/
	float: left;
}
.email{
	width: 85px;
}
.record{
	width: 300px;
	margin-left: 5px;
}
.emailDot,.recordDot{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #9a9a9a;
}
.word{
	/*border:1px solid red;*/
	/*float: left;*/
	text-indent: 5px;
	border:none;
	color:#b6b6b6;
	white-space:nowrap
}
.link{
	color:#6f6f6f;
	font-weight:bold;
	text-decoration:underline;
	display: inline; 
	border:0px;
}
/*底部链接栏*/