body,span,a{margin: 0px;padding: 0px;}
body{
	background-color: #E1E1E1;
}
a{text-decoration: none;}
.css320{
	display: none;
}
.css960{
	/*border:1px solid red;*/
	/*width:1000px;*/
	margin:0 auto;
}
.closeBigImage{
	/*border: 1px solid red;*/
	position: fixed;
	right: 10px;
	top: 10px;
	width: 24px;
	height: 24px;
	border-radius: 24px;
	background: url(../images/closeNav.png);
	border:2px solid #000;
	cursor: pointer;
}

/*最大的div*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 80%;
	margin: 20px auto 200px;
	transform: scale(0.8);
	position: relative;
	top:-130px;
}


/*导航的位置*/
.navPosition{
	/*border:1px solid #00ff00;*/
	width: 870px;
	height: 50px;
	margin: 0 auto;
	position: relative;
}
/*logo的位置*/
.logo{
	width: 90px;
	height: 90px;
	background: url(../images/logo.png);
	position: absolute;
	top:0px;
	left: -100px;
	cursor: pointer;
}
/*上面横线*/
.upLine{
	height: 3px;
	background-color: #686868;
}
/*四个导航*/
.navs{
	/*border:1px solid #0000ff;*/
	width: 500px;
	height: 22px;
	margin-top: 13px;
}
/*每个导航*/
.navs .nav{
	float: left;
	width: 125px;
}
.nav .dot{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: #fff;
	overflow: hidden;
	cursor: pointer;
}
.nav .navName{
	float: left;
	text-indent: 3px;
	line-height: 22px;
	font-size: 12px;
	color: #999;
	font-weight: bold;
	cursor: pointer;
}
/*二维码圆*/
.qrcodeDots{
	/*border:1px solid red;*/
	float: right;
	position: relative;
	top:-20px;
}
.qrcodeDots a{
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	/*background-color: #0f0;*/
	cursor: pointer;
	overflow: hidden;
	border:none;
	margin-left: 20px;
}
.qrcodeDots a img{
	width: 25px;
	height: 25px;
	position: relative;
	top:-2px;
	left: -2px;
}
/*显示二维码的圆*/
.showQdcode{
	width: 170px;
	height: 170px;
	border-radius: 170px;
	position: absolute;
	top:60px;
	left: 650px;
	/*background-color: #0F0;*/
	/*opacity: 0.8;*/
	overflow: hidden;
	/*display: none;*/
	z-index: 999;
	box-shadow: #ccc 0 0 5px 0;
}
/*搜索*/
.search{
	float: right;
	border-bottom:2px solid #ccc;
	width: 100px;
	height: 22px;
	margin-left: 20px;
	position: relative;
	top:-20px;
}
.search input{
	width: 100px;
	height: 20px;
	text-indent: 20px;
	background-color: #E1E1E1;
	border:none;
}
/*下横线*/
.downLine{
	height: 2px;
	background-color: #686868;
	margin-top: 13px;
}
/*导航的位置*/


/*文章内容页*/
.articleContent{
	/*border:1px solid red;*/
	margin: 50px auto 0px;
	width: 580px;
	padding-bottom: 50px;
	position: relative;
}
.articleImage{
	height: 320px;
	background-color: #fff;
}
.articleWord{
	margin-top:50px;
	/*height: 500px;*/
	/*background-color: #fff;*/
}
/*撑开文章高度*/
.openArticleWord{
	float: left;
	/*border:1px solid red;*/
	width: 0;
	height: 500px;
}
.article{
	word-break:break-all; /*支持IE，chrome，FF不支持*/
　　word-wrap:break-word;/*支持IE，chrome，FF*/
	/*border:1px solid red;*/
}
.articleShare{
	/*border:1px solid red;*/
	width: 235px;
	position: absolute;
	bottom: 10px;
	right: 0px;
}
.articleShare .share{
	float: left;
	height: 22px;
	line-height: 22px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
}
.articleShare .shareDot{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: #1DFF00;
	margin-left: 10px;
}
/*文章内容页*/



/*与底部的分割线*/
.splitLine{
	/*margin: 0 auto;*/
	/*width: 1024px;*/
	width: 900px;
	margin: 0 auto;
	height: 2px;
	background-color: #686868;
}



/*推荐列表*/
.recommendList{
	/*border:1px solid red;*/
	margin: 0 auto;
	width: 1024px;
	height: 230px;
	overflow: hidden;
	cursor: pointer;
}
/*某个推荐*/
.recommend{
	float: left;
	width: 150px;
	height: 198px;
	margin-left: 27px;
	margin-right: 27px;
	margin-top: 30px;
	position: relative;
}
/*推荐的图片部分包括遮罩*/
.recommendIcon{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	position: relative;
}
.pictureBox{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	overflow: hidden;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;//重点
	-moz-transition:0.4s linear;
}
/*图片的遮罩*/
.pictureMask{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	background-color: transparent;
	position: absolute;
	top:0px;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;//重点
	-moz-transition:0.4s linear;
}
.picture{
	width: 150px;
	height: 150px;
	transition:0.4s linear;
}
/*.cityName{
	position: absolute;
	top:0px;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	color: #333;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}*/
/*悬浮时的效果*/
.recommendIcon:hover .pictureBox{
	border-radius: 30px;
	transform:rotate(45deg) scale(0.8);
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-o-border-radius:30px;
}
.recommendIcon:hover .pictureMask{
	background-color: #00ff00;
	opacity:0.4;
	border-radius: 30px;
	transform:rotate(45deg) scale(0.8);
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-o-border-radius:30px;
}
.recommendIcon:hover .picture{
	transform: rotate(-45deg) scale(1.25);
}
/*.recommendIcon:hover .cityName{
	display: none;
}*/
/*序号*/
.number{
	/*border:1px solid red;*/
	width: 48px;
	height: 30px;
	line-height: 0px;
	position: absolute;
	left: -10px;
	bottom: 52px;
	color: #333;
}
.symbol{
	/*border:1px solid red;*/
	font-size: 12px;
	position: relative;
	top:-15px;
	left: 5px;
}
.num{
	/*border:1px solid red;*/
	font-size: 32px;
	line-height: 30px;
}
/*城市信息*/
.cityIntroduction{
	width: 130px;
	height: 34px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	/*文字css*/
	text-align: center;
	line-height: 34px;
	color: #333;
	font-size: 10px;
	font-weight: bold;
	/*位置css*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
	white-space: nowrap;
}
/*时间*/
.time{
	height: 6px;
	line-height: 6px;
	color: #333;
	position: absolute;
	bottom: 1px;
	font-size: 8px;
	/*border:1px solid red;*/
}
/*推荐列表*/



/*底部链接栏*/
.bottomLink{
	/*border:1px solid red;*/
	margin: 100px auto 0;
	width: 1000px;
	height: 22px;
}
.links{
	/*border:1px solid red;*/
}
.links .link{
	/*border:1px solid red;*/
	float: left;
	width: 80px;
	line-height: 22px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	border:none;
}
.records{
	/*border:1px solid red;*/
	float: right;
	width: 480px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
}
.email,.record{
	/*border:1px solid red;*/
	float: left;
	height: 22px;
	line-height: 22px;
	margin-left: 5px;
}
.emailDot,.recordDot{
	float: left;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: #8b8b8b;
}
.word{
	float: left;
	margin-left: 5px;
	border:none;
	color: #666;
}
/*底部链接栏*/