body,span{margin: 0px;padding: 0px;}
body{
	background-color: #f1f1f1;
}
/*最大框*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 80%;
	margin: 20px auto 100px;
}
/*导航*/
.navs{
	/*border:1px solid red;*/
}
.navs .nav{
	/*border:1px solid red;*/
	float: left;
	width: 100px;
	height: 50px;
	margin-left: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
/*内容*/
.contentPosition{
	/*border:1px solid red;*/
	width: 990px;
	margin: 50px auto;
}
.content{
	/*border:1px solid #fff;*/
	width: 80%;
	margin: 0 auto;
}
.articleInfo{
	/*border:1px solid red;*/
	height: 40px;
	margin-top: 20px;
}
.title,.input{
	float: left;
}
.title{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-left: 50px;
}
.input{
	width: 500px;
	height: 35px;
	margin-left: 50px;
	background-color: #f1f1f1;
	text-indent: 20px;
	line-height: 35px;
	border:1px solid #ccc;
}
.imageBtn{
	float: left;
	width: 150px;
	height: 35px;
	border-radius: 35px;
	border:1px solid #ccc;
	text-align: center;
	margin-left: 50px;
	line-height: 35px;
	cursor: pointer;
}
.showImage{
	width: 100px;
	height: 120px;
	/*border:1px solid #ccc;*/
	margin-left: 200px;
	margin-top: 20px;
}
.showImage img{
	width: 100px;
	height: 100px;
}
.img{
	width: 100px;
	height: 100px;
	border:1px solid #ccc;
}
.progressBar{
	width: 100px;
	height: 20px;
}
.article{
	margin-top: 20px;
}
.text{
	width: 500px;
	height: 100px;
	margin-left: 50px;
	background-color: #f1f1f1;
	text-indent: 20px;
	padding: 5px;
	margin-bottom: 20px;
}
.bigImage{
	/*border:1px solid red;*/
	float: left;
	width: 60px;
	margin-left: 20px;
	height: 35px;
	line-height: 35px;
}
.chooseBigImage{
	float: left;
	width: 18px;
	height: 18px;
	border:1px solid #ccc;
	margin-left: 2px;
	margin-top: 7px;
}
.loadArticle{
	margin-top: 20px;
	width: 150px;
	height: 35px;
	border-radius: 35px;
	line-height: 35px;
	text-align: center;
	border:1px solid #ccc;
}

.showTags{
	/*border:1px solid red;*/
	float: left;
	width: 500px;
	margin-left: 50px;
	position: relative;
}
.showTag{
	border:1px solid #ccc;
	float: left;
	width: 78px;
	margin-right: 20px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 5px;
}
.addTag{
	float: left;
	/*border:1px solid red;*/
	width: 20px;
	height: 20px;
	background: url(../images/add.png);
	margin-top: 5px;
	margin-left: 30px;
}

.chooseTag{
	/*display: none;*/
	width: 200px;
	height: 100px;
	background: #fff;
	box-shadow: #ccc 0 0 5px 0;
	position: absolute;
	top:0px;
	right: 150px;
}
.close{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: url(../images/close.png);
	position: relative;
	top:2px;
	left: 178px;
}
.chooseTagName{
	width: 150px;
	height: 60px;
	margin:0 auto;
	/*border:1px solid red;*/
}
.name{
	/*border:1px solid red;*/
	float: left;
	height: 60px;
	line-height: 60px;
}
.chooseBox{
	float: left;
	width: 80px;
	height: 30px;
	border:1px solid #ccc;
	margin-top: 12px;
	margin-left: 10px;
	cursor: pointer;
}
.Tags{
	width: 94px;
	height: 20px;
	border:1px solid #ccc;
	border-top: none;
	text-align: center;
	line-height: 20px;
	position: relative;
	top:-12px;
	left: 58px;
}
/*日历*/
.datepickerPosition{
	width:300px;
	background-color:#fff;
	position:absolute;
	top:498px;
	left:480px;
	z-index:999
}


.buttons{
	width: 400px;
	height: 36px;
	/*border:1px solid red;*/
	margin: 0 auto;
}
.btnSave,.btnCancel,.btnPreview{
	float: left;
	width: 100px;
	height: 36px;
	border-radius: 36px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 36px;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
}
/*增加个箭头背景图片*/
.pull-left{
	background-color: #000
}
.pull-right{
	background-color: #000
}