body,span{margin: 0px;padding: 0px;}
body{
	background-color: #f1f1f1;
}
/*最大框*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 80%;
	margin: 20px auto 100px;
}
/*导航*/
.navs{
	/*border:1px solid red;*/
}
.navs .nav{
	/*border:1px solid red;*/
	float: left;
	width: 100px;
	height: 50px;
	margin-left: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
/*内容*/
.contentPosition{
	/*border:1px solid red;*/
	width: 990px;
	margin: 50px auto;
}
.content{
	/*border:1px solid #fff;*/
	width: 80%;
	margin: 0 auto;
}
.articleInfo{
	/*border:1px solid red;*/
	height: 40px;
	margin-top: 20px;
}
.title,.input{
	float: left;
}
.title{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-left: 50px;
}
.input{
	width: 500px;
	height: 35px;
	margin-left: 50px;
	background-color: #f1f1f1;
	text-indent: 20px;
	border:1px solid #ccc;
}
.imageBtn{
	float: left;
	width: 150px;
	height: 35px;
	border-radius: 35px;
	border:1px solid #ccc;
	text-align: center;
	margin-left: 50px;
	line-height: 35px;
	cursor: pointer;
}
.showImage{
	width: 100px;
	height: 100px;
	border:1px solid #ccc;
	margin-left: 200px;
	margin-top: 20px;
}
.article{
	margin-top: 20px;
}
.text{
	width: 500px;
	height: 100px;
	margin-left: 50px;
	background-color: #f1f1f1;
	text-indent: 20px;
	padding: 5px;
	margin-bottom: 20px;
}
.bigImage{
	/*border:1px solid red;*/
	float: left;
	width: 60px;
	margin-left: 20px;
	height: 35px;
	line-height: 35px;
}
.chooseBigImage{
	float: left;
	width: 20px;
	height: 20px;
	border:1px solid #ccc;
	margin-left: 2px;
	margin-top: 7px;
}
.loadArticle{
	margin-top: 20px;
	width: 150px;
	height: 35px;
	border-radius: 35px;
	line-height: 35px;
	text-align: center;
	border:1px solid #ccc;
}


.buttons{
	width: 400px;
	height: 36px;
	/*border:1px solid red;*/
	margin: 0 auto;
}
.btnSave,.btnCancel,.btnPreview{
	float: left;
	width: 100px;
	height: 36px;
	border-radius: 36px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 36px;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
}
/*增加个箭头背景图片*/
.pull-left{
	background-color: #000
}
.pull-right{
	background-color: #000
}