body,span{margin: 0px;padding: 0px;}
body{
	background-color: #353535;
}
html,body{height:100%; width:100%; overflow:hidden;}
.main{width:100%; height:100%; overflow:hidden; margin:0; padding:0;}
/*最大的div*/
.css960{
	display: none;
}

.a1{width:100%; height:100%; color:#fff; background-color:#369; text-align:center;}
.a2{width:100%; height:100%; color:#fff; background-color:#FF0000; text-align:center;"}
.ng-scope{
	width: 100% !important;
	height: 100% !important;
}
.down960{
	width: 100% !important;
	height: 100% !important;
}