body,span,a{margin: 0px;padding: 0px;}
body{
	background-color: #353535;
}
a{
	text-decoration: none;
	border-style: none;
    border-width: 0px;
}
.css960{
	display: block;
}
.css320{
	display: none;
}
/*最大的div*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 1250px;
	margin: 20px auto 0;
}


/*导航的位置*/
.navPosition{
	/*border:1px solid red;*/
	position: relative;
}
/*撑开高度*/
.openHeight{
	width: 0px;
	height: 410px;
}
.lines{
	width: 1080px;
	height: 2px;
	margin: 0 auto;
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
}
.line1,.line2{
	float: left;
	width: 420px;
	height: 2px;
	background-color: #c3c3c3;
}
.line2{
	margin-left: 240px;
}
/*logo*/
.logo{
	width: 90px;
	height: 90px;
	border-radius: 90px;
	background: url(../images/logo.png);
	background-size:90px;
	position: absolute;
	top:0px;
	left: 0px;
	cursor: pointer;
}
/*一级目录的位置*/
.firstCatalog{}
.cityReport{
	width: 230px;
	height: 230px;
	border-radius: 230px;
	border:5px solid #9a9a9a;
	position: absolute;
	top:140px;
	left: 110px;
	overflow: hidden;
	cursor: pointer;
}
.cityReport:hover{
	border:5px solid #00ff00;
}
.reportLogo{
	/*border:1px solid #00ff00;*/
	width: 230px;
	height: 230px;
	border-radius: 230px;
}
.infographics{
	width: 170px;
	height: 170px;
	border-radius: 170px;
	border:5px solid #9a9a9a;
	position: absolute;
	top:40px;
	left: 320px;
	overflow: hidden;
	cursor: pointer;
}
.infographics:hover{
	border:5px solid #00ff00;
}
.infographicsLogo{
	/*border:1px solid #00ff00;*/
	width: 170px;
	height: 170px;
	border-radius: 170px;
}
.cityList{
	width: 320px;
	height: 320px;
	border-radius: 320px;
	border:5px solid #9a9a9a;
	position: absolute;
	top:40px;
	left: 500px;
	overflow: hidden;
	cursor: pointer;
}
.cityList:hover{
	border:5px solid #00ff00;
}
.listLogo{
	/*border:1px solid #00ff00;*/
	width: 320px;
	height: 320px;
	border-radius: 320px;
}
.cityActivity{
	width: 230px;
	height: 230px;
	border-radius: 230px;
	border:5px solid #9a9a9a;
	position: absolute;
	top:140px;
	left: 845px;
	overflow: hidden;
	cursor: pointer;
}
.cityActivity:hover{
	border:5px solid #00ff00;
}
.activityLogo{
	/*border:1px solid #00ff00;*/
	width: 230px;
	height: 230px;
	border-radius: 230px;
}
.aboutUs{
	width: 120px;
	height: 120px;
	border-radius: 120px;
	background-color: #c3c3c3;
	position: absolute;
	top:60px;
	left: 1050px;
	cursor: pointer;
}
.about{
	/*border:1px solid red;*/
	width: 120px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 40px;
}
.us{
	/*border:1px solid red;*/
	width: 120px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}

/*二级目录的位置*/
.shenyang,.changsha,.dalian,.tianjin,
.wuhan,.nanjing,.hangzhou,.qingdao,
.beishang,.chengdu,.fun,.suzhou,
.xian,.xiamen,.wuxi,.chongqing{
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #9a9a9a;
	text-align: center;
	line-height: 50px;
	font-size: 10px;
	color: #333;
	overflow: hidden;
	cursor: pointer;
}
.shenyang:hover,.changsha:hover,.dalian:hover,.tianjin:hover,
.wuhan:hover,.nanjing:hover,.hangzhou:hover,.qingdao:hover,
.beishang:hover,.chengdu:hover,.fun:hover,.suzhou:hover,
.xian:hover,.xiamen:hover,.wuxi:hover,.chongqing:hover{
	background-color: #00ff00;
	overflow: hidden;
	white-space: nowrap;
}
/*.word{
	border:1px solid red;
	width: 24px;
	height: 24px;
	line-height: 10pt;
	margin-top: 13px;
	margin-left: 13px;
}*/
.shenyang{
	position: absolute;
	top:110px;
	left:110px;
}
.changsha{
	position: absolute;
	top:50px;
	left:190px;
}
.dalian{
	position: absolute;
	top:85px;
	left:255px;
}
.tianjin{
	position: absolute;
	top:330px;
	left:330px;
}
.wuhan{
	position: absolute;
	top:240px;
	left:390px;
}
.nanjing{
	position: absolute;
	top:300px;
	left:420px;
}
.hangzhou{
	position: absolute;
	top:215px;
	left:445px;
}
.qingdao{
	position: absolute;
	top:320px;
	left:490px;
}
.beishang{
	position: absolute;
	top:40px;
	left:500px;
}
.chengdu{
	position: absolute;
	top:60px;
	left:805px;
}
.fun{
	position: absolute;
	top:300px;
	left:805px;
}
.suzhou{
	position: absolute;
	top:110px;
	left:845px;
}
.xian{
	position: absolute;
	top:75px;
	left:985px;
}
.xiamen{
	position: absolute;
	top:215px;
	left:1090px;
}
.wuxi{
	position: absolute;
	top:265px;
	left:1130px;
}
.chongqing{
	position: absolute;
	top:180px;
	left:1165px;
}
/*装饰圆*/
.decorateDots div{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #727272;
}
.decorateDot1{
	position: absolute;
	top:130px;
	left:65px;
}
.decorateDot2{
	position: absolute;
	top:220px;
	left:75px;
}
.decorateDot3{
	position: absolute;
	top:165px;
	left:95px;
}
.decorateDot4{
	position: absolute;
	top:80px;
	left:145px;
}
.decorateDot5{
	position: absolute;
	top:105px;
	left:230px;
}
.decorateDot6{
	position: absolute;
	top:55px;
	left:300px;
}
.decorateDot7{
	position: absolute;
	top:225px;
	left:360px;
}
.decorateDot8{
	position: absolute;
	top:305px;
	left:395px;
}
.decorateDot9{
	position: absolute;
	top:275px;
	left:485px;
}
.decorateDot10{
	position: absolute;
	top:340px;
	left:855px;
}
.decorateDot11{
	position: absolute;
	top:110px;
	left:910px;
}
.decorateDot12{
	position: absolute;
	top:65px;
	left:960px;
}
.decorateDot13{
	position: absolute;
	top:305px;
	left:1100px;
}
.decorateDot14{
	position: absolute;
	top:195px;
	left:1130px;
}
.decorateDot15{
	position: absolute;
	top:235px;
	left:1150px;
}
.decorateDot16{
	position: absolute;
	top:130px;
	left:1230px;
}
/*二维码圆*/
.qrcodeDots a{
	width: 25px;
	height: 25px;
	border-radius: 25px;
	background-color: #0f0;
	cursor: pointer;
	overflow: hidden;
	border:none;
}
.qrcodeDots a img{
	width: 25px;
	height: 25px;
	position: relative;
	top:-2px;
	left: -2px;
}
.qrcodeDot1{
	position: absolute;
	top:15px;
	left:794px;
}
.checkMark{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #0f0;
	opacity: 0.5;
	position: absolute;
	top:35px;
	left:801.5px;
}
.qrcodeDot2{
	position: absolute;
	top:15px;
	left:838px;
}
.qrcodeDot3{
	position: absolute;
	top:15px;
	left:882px;
}
.qrcodeDot4{
	position: absolute;
	top:15px;
	left:926px;
}
.checkMark2{
	left:933.5px;
}
.qrcodeDot5{
	position: absolute;
	top:15px;
	left:970px;
}
/*显示二维码的圆*/
.showQdcode{
	width: 170px;
	height: 170px;
	border-radius: 170px;
	position: absolute;
	top:45px;
	left: 830px;
	background-color: #0F0;
	opacity: 0.7;
	overflow: hidden;
	/*display: none;*/
}
.Qdcode{
	/*position:relative;
	top:20px;
	left:20px;
	width:130px;*/
}
.QdcodeImg{
	/*border:1px solid red;*/
	width:100px;
	height: 100px;
	position: absolute;
	top:80px;
	left: 865px;
}
/*搜索*/
.search{
	border-bottom:2px solid #ccc;
	width: 100px;
	height: 22px;
	margin-left: 20px;
	position: relative;
	top:-20px;
	position: absolute;
	top:15px;
	left: 1000px;
}
.search input{
	width: 100px;
	height: 20px;
	text-indent: 20px;
	background-color: #353535;
	border:none;
	outline: none;
}


/*所有文章*/
.articleKind{
	width: 200px;
	height: 18px;
	border-top: 2px solid #c3c3c3;
	margin:0 auto;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	line-height: 18px;
	text-align: center;
	font-size: 12px;
	color: #c3c3c3;
	font-weight: bold;
}
/*导航的位置*/



/*文章内容*/
.articleList{
	/*border:1px solid red;*/
	margin: 0 auto;
	width: 1100px;
	/*cursor: pointer;*/
}
.openArticleList{
	/*border:1px solid red;*/
	float: left;
	width: 0px;
	height: 744px;
}
/*某篇文章*/
.articl{
	/*border:1px solid red;*/
	float: left;
	width: 200px;
	height: 245px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 45px;
	position: relative;
	cursor: pointer;
}
/*文章的图片部分包括遮罩*/
.aeticlIcon{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	position: relative;
}
.pictureBox{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	overflow: hidden;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;//重点
	-moz-transition:0.4s linear;
}
/*图片的遮罩*/
.pictureMask{
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: transparent;
	position: absolute;
	top:0px;
	transition:0.4s linear;
	-webkit-transition:0.4s linear;//重点
	-moz-transition:0.4s linear;
}
.picture{
	width: 200px;
	height: 200px;
	transition:0.4s linear;
}
.cityName{
	position: absolute;
	top:0px;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	color: #fff;
	opacity: 0.7;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
/*悬浮时的效果*/
.aeticlIcon:hover .pictureBox{
	border-radius: 15px;
	transform:rotate(45deg) scale(0.75);
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
}
.aeticlIcon:hover .pictureMask{
	background-color: #00ff00;
	opacity:0.4;
	border-radius: 15px;
	transform:rotate(45deg) scale(0.75);
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-o-border-radius:15px;
}
.aeticlIcon:hover .picture{
	transform: rotate(-45deg) scale(1.35);
}
.aeticlIcon:hover .cityName{
	display: none;
}
/*序号*/
.number{
	/*border:1px solid red;*/
	width: 60px;
	height: 30px;
	line-height: 0px;
	position: absolute;
	bottom: 60px;
	color: #fff;
	opacity: 0.7;
}
.symbol{
	/*border:1px solid red;*/
	font-size: 12px;
	position: relative;
	top:-25px;
}
.num{
	/*border:1px solid red;*/
	font-size: 44px;
	line-height: 30px;
}
/*文章信息*/
.cityIntroduction{
	width: 180px;
	height: 34px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	/*文字css*/
	text-align: center;
	line-height: 18px;
	color: #fff;
	opacity: 0.7;
	font-size: 10px;
	font-weight: bold;
	/*位置css*/
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	position: absolute;
	bottom: 6px;
	overflow: hidden;
	/*white-space: nowrap;*/
	/*border:1px solid red;*/
}
/*时间*/
.time{
	height: 6px;
	line-height: 6px;
	color: rgb(120,120,120);
	position: absolute;
	bottom: -4px;
	font-size: 8px;
	opacity: 0.7;
	/*border:1px solid red;*/
}
.loadMore{
	/*border:1px solid red;*/
	width: 80%;
	margin: 0 auto;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
/*推荐列表*/
/*文章内容*/


/*底部链接栏*/
.bottomLink{
	/*border:1px solid red;*/
	margin: 160px auto;
	width: 1100px;
	height: 30px;
	color: rgb(225,225,225);
	line-height: 30px;
}
.links{
	/*border:1px solid red;*/
}
.links .link{
	/*border:1px solid red;*/
	float: left;
	/*width: 80px;*/
	font-size: 12px;
	font-weight: bold;
	color: #b6b6b6;
	border:none;
	margin-right: 20px;
}
.records{
	/*border:1px solid red;*/
	float: right;
	width: 430px;
	font-size: 12px;
	font-weight: bold;
	color: #b6b6b6;
}
.email,.record{
	/*border:1px solid red;*/
	float: left;
}
.email{
	width: 85px;
}
.record{
	width: 300px;
	margin-left: 5px;
}
.emailDot,.recordDot{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #9a9a9a;
}
.word{
	/*border:1px solid red;*/
	/*float: left;*/
	text-indent: 5px;
	border:none;
	color:#b6b6b6;
	white-space:nowrap
}
/*底部链接栏*/