body,span{margin: 0px;padding: 0px;}
body{
	background-color: #f1f1f1;
}
/*最大框*/
.backgroundPosition{
	/*border:1px solid red;*/
	width: 80%;
	margin: 20px auto 200px;
}
/*导航*/
.navs{
	/*border:1px solid red;*/
}
.navs .nav{
	/*border:1px solid red;*/
	float: left;
	width: 100px;
	height: 50px;
	margin-left: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
}
/*内容*/
.content{
	/*border:1px solid red;*/
	width: 990px;
	margin: 50px auto;
}
.addClassify{
	border:1px solid #ccc;
	float: right;
	width: 80px;
	height: 36px;
	border-radius: 36px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}
.addNewClassify{
	display: none;
	width: 400px;
	height: 250px;
	background-color: #fff;
	box-shadow: #ccc 0 0 5px 0;
	margin:0 auto;
	position: fixed;
	top: 200px;
	left: 0px;
	right: 0px;
}
.close{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: url(../images/close.png);
	position: relative;
	top:10px;
	left: 370px;
}
.classifyContent{
	/*border:1px solid red;*/
	width: 300px;
	margin: 50px auto 0;
}
.name,.input{
	float: left;
	height: 36px;
	line-height: 36px;
}
.name{
	width: 50px;
	text-align: right;
}
.input{
	width: 220px;
	margin-left: 20px;
	text-indent: 20px;
}
.save{
	border:1px solid #ccc;
	width: 80px;
	height: 36px;
	border-radius: 36px;
	margin: 50px auto 0;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
}
.editImage{
	border:1px solid #ccc;
	float: right;
	width: 80px;
	height: 36px;
	border-radius: 36px;
	line-height: 36px;
	text-align: center;
	cursor: pointer;
	margin-left: 20px;
}
.imageClassifys{
	/*border:1px solid red;*/
	width: 1000px;
	margin-top: 10px;
}
.classifyName{
	width: 80px;
	height: 20px;
	border-radius: 20px;
	border:1px solid #ccc;
	line-height: 20px;
	text-align: center;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	/*border:1px solid red;*/
}
.showImages{
	/*border:1px solid red;*/
	width: 1000px;
	margin-top: 10px;
}
.showImage{
	float: left;
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-bottom: 20px;
	border:1px solid #ccc;
	position: relative;
}
.deleteImage{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: url(../images/close.png);
	position: absolute;
	top:-10px;
	right: -10px;
}
.uploadImage{
	border:none;
	background: url(../images/upload.png);
}