<link href="../assets/css/article_1280.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1280px) and (max-width: 1920px)">
<link href="../assets/css/article_960.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 960px) and (max-width: 1279px)">
<link href="../assets/css/article_000.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 0px) and (max-width: 959px)">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<div class="css960" ng-hide="viewArticleCtrl.showBigImageModel">
	<div class="backgroundPosition">
		<!-- 导航的位置 -->
		<div class="navPosition">
			<!-- logo -->
			<div class="logo" ui-sref="main"></div>
			<!-- 上横线 -->
			<div class="upLine"></div>
			<!-- 四个导航 -->
			<div class="navs">
				<div class="nav" ng-repeat="category in viewArticleCtrl.categories">
					<div class="dot"><img src="{{viewArticleCtrl.hostDir+category.image}}" style="width:22px;height:22px" ng-show="category.image"></div>
					<div class="navName" ng-bind="category.name" ui-sref="main({id:category._id})">城市榜单</div>
				</div>
				
			</div>

			<!-- 搜索 -->
			<!-- <div class="search"><input type="text" placeholder="Search" ng-change="viewArticleCtrl.select()" ng-model="viewArticleCtrl.articleName"></div> -->

			<!-- 二维码圆 -->
			<div class="qrcodeDots">
				<a class="qrcodeDot1" ng-click="viewArticleCtrl.openWechatQdcode()"><img width="25px" height="25px" src="../assets/images/wechat.png"></a>
				<a class="qrcodeDot2" target="_black" ng-href="http://weibo.com/therisinglab"><img width="25px" height="25px" src="../assets/images/weibo.png"></a>
				<a class="qrcodeDot3" target="_black" ng-href="http:// zhuanlan.zhihu.com/ therisinglab"><img width="25px" height="25px" src="../assets/images/zhihu.png"></a>
				<a class="qrcodeDot4" ng-click="viewArticleCtrl.openQqQdcode()"><img width="25px" height="25px" src="../assets/images/qq.png"></a>
				<a class="qrcodeDot5" target="_black" ng-href="mailto:xinyixian@yicai.com"><img width="25px" height="25px" src="../assets/images/email.png"></a>
			</div>
			<!-- 显示二维码圆 -->
			<div class="showQdcode" ng-show="viewArticleCtrl.showQdcode">
				<div class="Qdcode">
					<img src="{{viewArticleCtrl.qdcode}}">
				</div>
				<!-- <img width="170px" height="170px" src="{{viewArticleCtrl.qdcode}}"> -->
			</div>

			<!-- 下横线 -->
			<div class="downLine"></div>
		</div>

		<!-- 文章内容的位置 -->
		<div class="articleContent">

			<div class="articleImage"><img src="{{viewArticleCtrl.articleImage}}" style="width:580px;height:320px;"></div>
			<div class="articleWord">
				<div class="openArticleWord" ></div>
				<div class="article" ng-bind-html="viewArticleCtrl.article.content | to_trusted"></div>
				<div style="clear:both"></div>
			</div>
			<!-- <div class="articleShare">
				<div class="share">Share</div>
				<div class="shareDot"></div>
				<div class="shareDot"></div>
				<div class="shareDot"></div>
				<div class="shareDot"></div>
				<div class="shareDot"></div>
				<div class="shareDot"></div>
			</div> -->
		</div>

		<!-- 与底部的分割线 -->
		<div class="splitLine"></div>


		<!-- 推荐列表 -->
		<div class="recommendList">
			<div class="recommend" ng-repeat="article in viewArticleCtrl.pushArticles" ui-sref="view-article({id:article._id})" ng-click="viewArticleCtrl.addpv(article._id)">
				<div class="recommendIcon">
					<div class="pictureBox">
						<image class="picture" src="{{viewArticleCtrl.hostDir+article.thumbnail}}">
					</div>
					<div class="pictureMask"></div>
					<!-- <div class="cityName"><u>苏州</u></div> -->
				</div>
				
				<div class="number">
					<span class="symbol">#</span>
					<span class="num" ng-bind="article.i">14</span>
				</div>
				<div class="cityIntroduction" style="text-overflow:ellipsis" title="{{article.summary}}" ng-bind="article.summary">城市向上生长的野心从未停止</div>
				<div class="time" ng-bind="article.updateDate | date:'yyyy.MM.dd'">2015.10.10</div>
			</div>
		</div>

		<!-- 底部链接栏 -->
		<div class="bottomLink">
			<div class="links">
				<a class="link" ui-sref="about_us">ABOUT US</a>
				<a class="link" target="_black" ng-href="http://www.cbnweek.com">第一财经周刊</a>
				<a class="link" target="_black" ng-href="http://www.yicai.com">一财网</a>
				<a class="link" target="_black" ng-href="">用户协议</a>
				<a class="link" target="_black" ng-href="">RSS订阅</a>
			</div>
			<div class="records">
				<div class="email">
					<div class="emailDot"></div>
					<a class="word" target="_black" ng-href="http://www.therisinglab.com/emailsubscribe/">邮件订阅</a>
				</div>
				<div class="record">
					<div class="recordDot"></div>
					<a class="word" target="_black" ng-href="http://www.miitbeian.gov.cn/">© 2016 第一财经.新一线城市研究所 沪ICP备15026457号-2</a>
				</div>
			</div>
		</div> 

	</div>
</div>

<!-- 大图 -->
<div class="bigImage" style="position:absolute;width:100%;top:0px;left:0px;" ng-show="viewArticleCtrl.showBigImageModel">
	<div class="closeBigImage" ng-click="viewArticleCtrl.closeBigImageModel()"></div>
	<img src="{{viewArticleCtrl.hostDir+viewArticleCtrl.article.image}}" width="100%">
</div>



<div class="css320">
	<div class="articleContent">
		<div class="picture" style="width:100%;">
			<img  src="{{viewArticleCtrl.articleImage}}" width="100%">
		</div>
		<div class="word">
			<div width="100%" ng-bind-html="viewArticleCtrl.article.content | to_trusted"></div>
		</div>
		<div class="btns">
			<div class="back" ui-sref="article-view"><u>back</u></div>
			<div class="left" ng-click="viewArticleCtrl.changeArticleUp()"></div>
			<div class="right" ng-click="viewArticleCtrl.changeArticleDown()"></div>
		</div>
	</div>
</div>
