
<link href="../assets/css/home_1280.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1280px) and (max-width: 1920px)">
<link href="../assets/css/home_960.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 960px) and (max-width: 1280px)">
<link href="../assets/css/home_000.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 0px) and (max-width: 959px)">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<div class="css960">
	<div class="backgroundPosition">
		<!-- 导航的位置 -->
		<div class="navPosition">
			<div class="openHeight"></div>
			<div class="lines">
				<div class="line1"></div>
				<div class="line2"></div>
			</div>
			<!-- logo的位置 -->
			<div class="logo" ng-click="viewHomeCtrl.loadAgain()"></div>
			<!-- 一级目录的位置 -->
			<div class="firstCatalog">
				<div class="cityReport" style="{{viewHomeCtrl.categories[0].style}}">
					<!-- 230*230 -->
					<div class="reportLogo" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.categories[0],1)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[0])"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[0].image}}" style="width:230px;height:230px;" ng-show="viewHomeCtrl.categories[0].image"></div>
				</div>
				<div class="infographics" style="{{viewHomeCtrl.categories[1].style}}">
					<!-- 170*170 -->
					<div class="infographicsLogo" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.categories[1],1)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[1])"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[1].image}}" style="width:170px;height:170px;" ng-show="viewHomeCtrl.categories[1].image"></div>
				</div>
				<div class="cityList" style="{{viewHomeCtrl.categories[2].style}}">
					<!-- 320*320 -->
					<div class="listLogo" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.categories[2],1)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[2])"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[2].image}}" style="width:320px;height:320px;" ng-show="viewHomeCtrl.categories[2].image"></div>
				</div>
				<div class="cityActivity" style="{{viewHomeCtrl.categories[3].style}}">
					<!-- 230*230 -->
					<div class="activityLogo" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.categories[3],1)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[3])"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[3].image}}" style="width:230px;height:230px;" ng-show="viewHomeCtrl.categories[3].image"></div>
				</div>
				<div class="aboutUs">
					<div class="about">ABOUT</div>
					<div class="us"><u>US</u></div>
				</div>
			</div>
			<!-- 二级目录 -->
			<div class="firstCatalog">
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[0].name}}" class="shenyang" ng-bind="viewHomeCtrl.tags[0].name" style="{{viewHomeCtrl.tags[0].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[0],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[0])">沈阳</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[1].name}}" class="changsha" ng-bind="viewHomeCtrl.tags[1].name" style="{{viewHomeCtrl.tags[1].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[1],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[1])">长沙</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[2].name}}" class="dalian" ng-bind="viewHomeCtrl.tags[2].name" style="{{viewHomeCtrl.tags[2].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[2],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[2])">大连</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[3].name}}" class="tianjin" ng-bind="viewHomeCtrl.tags[3].name" style="{{viewHomeCtrl.tags[3].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[3],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[3])">天津</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[4].name}}" class="wuhan" ng-bind="viewHomeCtrl.tags[4].name" style="{{viewHomeCtrl.tags[4].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[4],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[4])">武汉</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[5].name}}" class="nanjing" ng-bind="viewHomeCtrl.tags[5].name" style="{{viewHomeCtrl.tags[5].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[5],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[5])">南京</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[6].name}}" class="hangzhou" ng-bind="viewHomeCtrl.tags[6].name" style="{{viewHomeCtrl.tags[6].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[6],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[6])">杭州</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[7].name}}" class="qingdao" ng-bind="viewHomeCtrl.tags[7].name" style="{{viewHomeCtrl.tags[7].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[7],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[7])">青岛</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[8].name}}" class="beishang" ng-bind="viewHomeCtrl.tags[8].name" style="{{viewHomeCtrl.tags[8].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[8],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[8])">北上广深</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[9].name}}" class="chengdu" ng-bind="viewHomeCtrl.tags[9].name" style="{{viewHomeCtrl.tags[9].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[9],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[9])">成都</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[10].name}}" class="fun" ng-bind="viewHomeCtrl.tags[10].name" style="{{viewHomeCtrl.tags[10].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[10],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[10])">FUN!</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[11].name}}" class="suzhou" ng-bind="viewHomeCtrl.tags[11].name" style="{{viewHomeCtrl.tags[11].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[11],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[11])">苏州</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[12].name}}" class="xian" ng-bind="viewHomeCtrl.tags[12].name" style="{{viewHomeCtrl.tags[12].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[12],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[12])">西安</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[13].name}}" class="xiamen" ng-bind="viewHomeCtrl.tags[13].name" style="{{viewHomeCtrl.tags[13].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[13],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[13])">厦门</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[14].name}}" class="wuxi" ng-bind="viewHomeCtrl.tags[14].name" style="{{viewHomeCtrl.tags[14].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[14],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[14])">无锡</div>
				<div style="text-overflow:ellipsis" title="{{viewHomeCtrl.tags[15].name}}" class="chongqing" ng-bind="viewHomeCtrl.tags[15].name" style="{{viewHomeCtrl.tags[15].style}}" ng-mouseover="viewHomeCtrl.mousehover(viewHomeCtrl.tags[15],2)" ng-mouseout="viewHomeCtrl.mouseout()" ng-click="viewHomeCtrl.chooseTag(viewHomeCtrl.tags[15])">重庆</div>
			</div>
			<!-- 装饰圆 -->
			<div class="decorateDots">
				<div class="decorateDot1"></div>
				<div class="decorateDot2"></div>
				<div class="decorateDot3"></div>
				<div class="decorateDot4"></div>
				<div class="decorateDot5"></div>
				<div class="decorateDot6"></div>
				<div class="decorateDot7"></div>
				<div class="decorateDot8"></div>
				<div class="decorateDot9"></div>
				<div class="decorateDot10"></div>
				<div class="decorateDot11"></div>
				<div class="decorateDot12"></div>
				<div class="decorateDot13"></div>
				<div class="decorateDot14"></div>
				<div class="decorateDot15"></div>
				<div class="decorateDot16"></div>
			</div>
			<!-- 二维码圆 -->
			<div class="qrcodeDots">
				<div class="qrcodeDot1"></div>
				<div class="qrcodeDot2"></div>
				<div class="qrcodeDot3"></div>
				<div class="qrcodeDot4"></div>
				<div class="qrcodeDot5"></div>
			</div>
			<!-- 显示二维码圆 -->
			<div class="showQdcode"></div>
			<!-- 所有文章 -->
			<div class="articleKind" ng-bind="viewHomeCtrl.showSelected">所有文章</div>
		</div>

		<!-- 文章内容 -->
		<div class="articleList">
			<div class="openArticleList"></div>
			<div class="articl" ng-repeat="article in viewHomeCtrl.articles" ui-sref="view-article({id:article._id,category:viewHomeCtrl.id,tag:viewHomeCtrl.tag})">
				<div class="aeticlIcon">
					<div class="pictureBox">
						<image class="picture" src="{{viewHomeCtrl.hostDir+article.thumbnail}}">
					</div>
					<div class="pictureMask"></div>
					<div class="cityName"><u ng-bind="article.title">苏州</u></div>
				</div>
				
				<div class="number">
					<span class="symbol">#</span>
					<span class="num" ng-bind="article.i">14</span>
				</div>
				<div class="cityIntroduction" style="text-overflow:ellipsis" title="{{article.summary}}" ng-bind="article.summary">城市向上生长的野心</div>
				<div class="time" ng-bind="article.updateDate | date:'yyyy.MM.dd'">2015.10.10</div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="loadMore" ng-click="viewHomeCtrl.loadMore()" ng-show="viewHomeCtrl._loadMore">loadmore...</div>

		<!-- 底部链接栏 -->
		<div class="bottomLink">
			<div class="links">
				<div class="link">ABOUT US</div>
				<div class="link">第一财经周刊</div>
				<div class="link">一财网</div>
				<div class="link">用户协议</div>
				<div class="link">RSS订阅</div>
			</div>
			<div class="records">
				<div class="email">
					<div class="emailDot"></div>
					<div class="word">邮件订阅</div>
				</div>
				<div class="record">
					<div class="recordDot"></div>
					<div class="word">© 2016 第一财经.新一线城市研究所 沪ICP备15026457号-2</div>
				</div>
			</div>
		</div> 

	</div>
</div>




<!-- 960像素以下的页面 -->

<div class="css320">
	<!-- 导航 -->
    <div class="mobileNavPosition" style="{{viewHomeCtrl.changeStyle}}">
    	<div class="mobileNavs">
    		<div class="mobileNav" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[0])">
    			<div class="rank"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[0].image}}" style="width:60px;height:60px;" ng-show="viewHomeCtrl.categories[0].image"></div>
    			<div class="word" ng-bind="viewHomeCtrl.categories[0].name">rank</div>
    		</div>
    		<div class="mobileNav" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[1])">
    			<div class="info"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[1].image}}" style="width:60px;height:60px;" ng-show="viewHomeCtrl.categories[1].image"></div>
    			<div class="word" ng-bind="viewHomeCtrl.categories[1].name">info</div>
    		</div>
    		<div class="mobileNav" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[2])">
    			<div class="city"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[2].image}}" style="width:60px;height:60px;" ng-show="viewHomeCtrl.categories[2].image"></div>
    			<div class="word" ng-bind="viewHomeCtrl.categories[2].name">city</div>
    		</div>
    		<div class="mobileNav" ng-click="viewHomeCtrl.chooseCategory(viewHomeCtrl.categories[3])">
    			<div class="report"><img src="{{viewHomeCtrl.hostDir+viewHomeCtrl.categories[3].image}}" style="width:60px;height:60px;" ng-show="viewHomeCtrl.categories[3].image"></div>
    			<div class="word" ng-bind="viewHomeCtrl.categories[3].name">report</div>
    		</div>
    		<div class="btns">
	    		<div class="aboutUs">about us</div>
	    		<div class="closeNav" ng-click="viewHomeCtrl.closeNav()"></div>
	    	</div>
    		<!-- <div style="clear:both"></div> -->
    	</div>
    	<div class="openNav" ng-show="viewHomeCtrl.showOpen" ng-click="viewHomeCtrl.styleChange()"><img src="../assets/images/right.png"></div>
	</div>
	<!-- <div class="rightArrow"></div> -->

    <!-- 文章内容 -->
	<div class="articleList">
		<div class="articleListPosition">
			<div class="articl" ng-repeat="article in viewHomeCtrl.articles" ui-sref="view-article({id:article._id})">
				<div class="aeticlIcon">
					<div class="pictureBox">
						<image class="picture"  src="{{viewHomeCtrl.hostDir+article.thumbnail}}">
					</div>
					<div class="pictureMask"></div>
					<div class="cityName"><u ng-bind="article.title">苏州</u></div>
				</div>
				
				<div class="number">
					<span class="symbol">#</span>
					<span class="num" ng-bind="article.i">14</span>
				</div>
				<div class="cityIntroduction" ng-bind="article.summary">城市向上生长的野心从未停止</div>
				<div class="time" ng-bind="article.updateDate | date:'yyyy.MM.dd'">2015.10.10</div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div style="clear:both"></div>
	</div>


</div>
