
<link href="../assets/css/home_1280.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1280px) and (max-width: 1920px)">
<link href="../assets/css/home_960.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 960px) and (max-width: 1280px)">
<link href="../assets/css/home_000.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 0px) and (max-width: 959px)">

<div class="css960">
	<div class="backgroundPosition">
		<!-- 导航的位置 -->
		<div class="navPosition">
			<div class="openHeight"></div>
			<div class="lines">
				<div class="line1"></div>
				<div class="line2"></div>
			</div>
			<!-- logo的位置 -->
			<div class="logo"></div>
			<!-- 一级目录的位置 -->
			<div class="firstCatalog">
				<div class="cityReport">
					<!-- 230*230 -->
					<div class="reportLogo"></div>
				</div>
				<div class="infographics">
					<!-- 170*170 -->
					<div class="infographicsLogo"></div>
				</div>
				<div class="cityList">
					<!-- 320*320 -->
					<div class="listLogo"></div>
				</div>
				<div class="cityActivity">
					<!-- 230*230 -->
					<div class="activityLogo"></div>
				</div>
				<div class="aboutUs">
					<div class="about">ABOUT</div>
					<div class="us"><u>US</u></div>
				</div>
			</div>
			<!-- 二级目录 -->
			<div class="firstCatalog">
				<div class="shenyang">沈阳</div>
				<div class="changsha">长沙</div>
				<div class="dalian">大连</div>
				<div class="tianjin">天津</div>
				<div class="wuhan">武汉</div>
				<div class="nanjing">南京</div>
				<div class="hangzhou">杭州</div>
				<div class="qingdao">青岛</div>
				<div class="beishang">北上广深</div>
				<div class="chengdu">成都</div>
				<div class="fun">FUN!</div>
				<div class="suzhou">苏州</div>
				<div class="xian">西安</div>
				<div class="xiamen">厦门</div>
				<div class="wuxi">无锡</div>
				<div class="chongqing">重庆</div>
			</div>
			<!-- 装饰圆 -->
			<div class="decorateDots">
				<div class="decorateDot1"></div>
				<div class="decorateDot2"></div>
				<div class="decorateDot3"></div>
				<div class="decorateDot4"></div>
				<div class="decorateDot5"></div>
				<div class="decorateDot6"></div>
				<div class="decorateDot7"></div>
				<div class="decorateDot8"></div>
				<div class="decorateDot9"></div>
				<div class="decorateDot10"></div>
				<div class="decorateDot11"></div>
				<div class="decorateDot12"></div>
				<div class="decorateDot13"></div>
				<div class="decorateDot14"></div>
				<div class="decorateDot15"></div>
				<div class="decorateDot16"></div>
			</div>
			<!-- 二维码圆 -->
			<div class="qrcodeDots">
				<div class="qrcodeDot1"></div>
				<div class="qrcodeDot2"></div>
				<div class="qrcodeDot3"></div>
				<div class="qrcodeDot4"></div>
				<div class="qrcodeDot5"></div>
			</div>
			<!-- 显示二维码圆 -->
			<div class="showQdcode"></div>
			<!-- 所有文章 -->
			<div class="articleKind">所有文章</div>
		</div>

		<!-- 文章内容 -->
		<div class="articleList">
			<div class="openArticleList"></div>
			<div class="articl" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" ui-sref="view-article({id:id})">
				<div class="aeticlIcon">
					<div class="pictureBox">
						<image class="picture" src="../assets/images/city.png">
					</div>
					<div class="pictureMask"></div>
					<div class="cityName"><u>苏州</u></div>
				</div>
				
				<div class="number">
					<span class="symbol">#</span>
					<span class="num">14</span>
				</div>
				<div class="cityIntroduction">城市向上生长的野心从未停止</div>
				<div class="time">2015.10.10</div>
			</div>
		</div>
		<div style="clear:both"></div>

		<!-- 底部链接栏 -->
		<div class="bottomLink">
			<div class="links">
				<div class="link">ABOUT US</div>
				<div class="link">第一财经周刊</div>
				<div class="link">一财网</div>
				<div class="link">用户协议</div>
				<div class="link">RSS订阅</div>
			</div>
			<div class="records">
				<div class="email">
					<div class="emailDot"></div>
					<div class="word">邮件订阅</div>
				</div>
				<div class="record">
					<div class="recordDot"></div>
					<div class="word">© 2016 第一财经.新一线城市研究所 沪ICP备15026457号-2</div>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- 960像素以下的页面 -->

<div class="css320">
	<!-- 导航 -->
    <div class="mobileNavPosition">
    	<div class="mobileNavs">
    		<div class="mobileNav">
    			<div class="rank"></div>
    			<div class="word">rank</div>
    		</div>
    		<div class="mobileNav">
    			<div class="info"></div>
    			<div class="word">info</div>
    		</div>
    		<div class="mobileNav">
    			<div class="city"></div>
    			<div class="word">city</div>
    		</div>
    		<div class="mobileNav">
    			<div class="report"></div>
    			<div class="word">report</div>
    		</div>
    		<div class="btns">
	    		<div class="aboutUs">about us</div>
	    		<div class="closeNav"></div>
	    	</div>
    		<!-- <div style="clear:both"></div> -->
    	</div>
    </div>

    <!-- 文章内容 -->
	<div class="articleList">
		<div class="articleListPosition">
			<div class="articl" ng-repeat="a in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" ui-sref="view-article({id:id})">
				<div class="aeticlIcon">
					<div class="pictureBox">
						<image class="picture" src="../assets/images/city.png">
					</div>
					<div class="pictureMask"></div>
					<div class="cityName"><u>苏州</u></div>
				</div>
				
				<div class="number">
					<span class="symbol">#</span>
					<span class="num">14</span>
				</div>
				<div class="cityIntroduction">城市向上生长的野心从未停止</div>
				<div class="time">2015.10.10</div>
			</div>
			<div style="clear:both"></div>
		</div>
		<div style="clear:both"></div>
	</div>


</div>
