
<link href="../assets/css/edit-article.css"rel="stylesheet"type="text/css">
<!-- <script src="../ckeditor.js"></script>
<script src="js/sample.js"></script> -->
<link rel="stylesheet" href="../assets/ckeditor/samples.css">
<link rel="stylesheet" href="../assets/ckeditor/neo.css">

<div class="backgroundPosition">
	<!-- 导航栏 -->
	<div class="navs">
		<div class="nav" ui-sref="article-view">文章</div>
		<div class="nav" ui-sref="classify-view">分类</div>
		<div class="nav" ui-sref="tag-view">标签</div>
		<div class="nav" ui-sref="image-view">图片</div>
		<div style="clear:both"></div>
	</div>

	<div class="contentPosition">
		<!-- updateDate 日历-->
		<div style="width:300px;margin:0 auto;height:0px;">
			<div class="datepickerPosition">
				<datepicker class="from-data" style="box-shadow: 0 0 20px #aaa;" ng-show="editArticleCtrl._updateDate" ng-model="editArticleCtrl.article.updateDate"  datepicker-mode="year"></datepicker>
			</div>
		</div>
		<div class="content">
			<div class="articleInfo">
				<div class="title">ID</div>
				<div type="text" class="input" ng-bind="editArticleCtrl.article._id" style="border:none"></div>
			</div>
			<div class="articleInfo">
				<div class="title">序号</div>
				<div type="text" class="input" ng-bind="editArticleCtrl.article.index" style="border:none"></div>
			</div>
			<div class="articleInfo">
				<div class="title" >标题</div>
				<input type="text" class="input" ng-model="editArticleCtrl.article.title">
			</div>
			<div class="articleInfo">
				<div class="title">作者</div>
				<input type="text" class="input" ng-model="editArticleCtrl.article.author">
			</div>
			<div class="articleInfo">
				<div class="title">摘要</div>
				<input type="text" class="input" ng-model="editArticleCtrl.article.summary">
			</div>
			<div class="articleInfo">
				<div class="title">显示日期</div>
				<div class="input" style="border-radius: 3px;width:200px;" ng-click="editArticleCtrl.openDate()">
					<div ng-bind="editArticleCtrl.article.updateDate | date:'MMM d, yyyy'" ></div>
				</div>
			</div>
			<div class="articleInfo">
				<div class="title" >提示标签</div>
				<input type="text" class="input" ng-model="editArticleCtrl.article.remindTag" placeholder="多个标签之间用英文的逗号隔开">
			</div>
			<div style="margin-top: 20px;">
				<div class="title">标签</div>
				<div class="showTags">
					<div class="showTag" ng-repeat="tag in editArticleCtrl.showTags" ng-bind="tag.name" ng-click="editArticleCtrl.pullTag(tag)"></div>
					<div class="showTag" ng-click="editArticleCtrl.openAddTag()"><div class="addTag"></div></div>

					<div class="chooseTag" ng-show="editArticleCtrl._openAddTag">
						<div class="close" ng-click="editArticleCtrl.closeOpenAddTag()"></div>
						<div class="chooseTagName">
							<div class="name">Tag</div>
							<input class="chooseBox" ng-model="editArticleCtrl.selectTagName" ng-change="editArticleCtrl.select()">
						</div>
						<div class="Tags" ng-repeat="tag in editArticleCtrl.selectTags" ng-bind="tag.name" ng-click="editArticleCtrl.chooseTag(tag)">
							<div class="tag">222</div>
						</div>
						<!-- <div style="clear:both"></div> -->
					</div>
				</div>
			</div>
			<div style="clear:both"></div>
			<div class="articleInfo">
				<div class="title">特殊链接</div>
				<input type="text" class="input" ng-model="editArticleCtrl.article.speciaLink">
			</div>
			<div class="articleInfo">
				<div class="title">分类</div>
				<div class="input" style="border-radius: 3px;width:200px;" ng-click="editArticleCtrl.openCategory()">
					<div ng-bind="editArticleCtrl.showCategory.name" ></div>
				</div>
				<div style="width:200px;height:0px;float:left;">
					<div ng-show="editArticleCtrl._openCategory" style="width:200px;height:100px;overflow-y:auto;position:relative; left:-200px;top:36px;">
						<div ng-repeat="category in editArticleCtrl.categories" ng-bind="category.name" ng-click="editArticleCtrl.chooseCategory(category)" style="border:1px solid #000;background-color: #f1f1f1;border:1px solid #ccc;text-indent:20px;"></div>
						<!-- <div ng-bind="editArticleCtrl.categories[0].name" ></div> -->
					</div>
				</div>
			</div>
			<div class="articleInfo">
				<div class="title">题图</div>
				<div class="imageBtn" ngf-select ngf-change="editArticleCtrl.upload($files,1)">上传图片</div>
				<div class="bigImage">大图模式</div><div class="chooseBigImage" ng-click="editArticleCtrl.chooseBigImage()"><img src="../assets/images/choose.png" ng-show="editArticleCtrl.article.isBigImage"></div>
			</div>
			<div class="showImage">
				<div class="img"><img title="建议尺寸1920*1050" src="{{editArticleCtrl.showImage}}"></div>
				<!-- 图片进度条 -->
				<progressbar ng-show="editArticleCtrl.loaded1 > 0" class="progress-striped progressBar" ng-class="{active: editArticleCtrl.loaded1 < 100}" max="100" value="editArticleCtrl.loaded1" style="background-color:#9DD1FF;display: block;border-radius:5px;text-align:center"><span ng-bind="editArticleCtrl.loaded1"></span>%</progressbar>
			</div>
			<div class="articleInfo">
				<div class="title">题图缩略图</div>
				<div class="imageBtn" ngf-select ngf-change="editArticleCtrl.upload($files,2)">上传图片</div>
			</div>
			<!-- 建议图片大小为150*150 -->
			<div class="showImage">
				<div class="img"><img title="建议尺寸150*150" src="{{editArticleCtrl.showThumbnail}}"></div>
				<!-- 图片进度条 -->
	            <progressbar ng-show="editArticleCtrl.loaded2 > 0" class="progress-striped" ng-class="{active: editArticleCtrl.loaded2 < 100}" max="100" value="editArticleCtrl.loaded2" style="background-color:#9DD1FF;display: block;border-radius:5px;text-align:center"><span ng-bind="editArticleCtrl.loaded2"></span>%</progressbar>
			</div>

			<div class="article">
				<div class="title">正文</div>
				<div style="width:580px;float:left;margin-left:50px;margin-top:-20px;">
					<div class="loadArticle" ng-click="editArticleCtrl.show()">载入或重置文章内容</div>
					<div class="loadArticle" ng-click="editArticleCtrl.showPictureAddress()">图片地址</div>
					<div id="editor">
						<!-- 正文 -->
					</div>
				</div>
				<!-- <div></div> -->
			</div>
			<div class="showPictureAddress" ng-show="editArticleCtrl.">
				<div class="pictureAddress">
					<div class="picture"></div>
					<div class="address"></div>
				</div>
			</div>
		</div>

		<div class="buttons">
			<div class="btnSave" ng-click='editArticleCtrl.save()'>保存</div>
			<div class="btnCancel" ng-click='editArticleCtrl.cancel()'>撤销</div>
			<!-- <div class="btnPreview">预览</div> -->
		</div>
	</div>
</div>
