
<link href="../assets/css/view-article.css"rel="stylesheet"type="text/css">
<div class="backgroundPosition">
	<!-- 导航栏 -->
	<div class="navs">
		<div class="nav" ui-sref="article-view">文章</div>
		<div class="nav" ui-sref="classify-view">分类</div>
		<div class="nav" ui-sref="tag-view">标签</div>
		<div class="nav" ui-sref="image-view">图片</div>
		<div style="clear:both"></div>
	</div>
	<div class="content">
		<div class="screen" ng-click="viewArticleCtrl.openCategory()" ng-bind="'分类:'+viewArticleCtrl.selectedCategory">所有分类</div>
		<!-- 分类下拉框 -->
		<div class="dropBoxPosition">
			<div ng-show="viewArticleCtrl._openCategory" class="dropBoxs">
				<div ng-click="viewArticleCtrl.chooseCategory('all')" class="dropBox">全部</div>
				<div ng-repeat="category in viewArticleCtrl.categories" ng-bind="category.name" ng-click="viewArticleCtrl.chooseCategory(category)" class="dropBox"></div>
				<!-- <div ng-bind="addArticleCtrl.categories[0].name" ></div> -->
			</div>
		</div>
		<div class="state" ng-click="viewArticleCtrl.openState()" ng-bind="'状态:'+viewArticleCtrl.selectedState">状态</div>
		<div class="dropBoxPosition">
			<div ng-show="viewArticleCtrl._openState" class="dropBoxs">
				<div ng-click="viewArticleCtrl.chooseState('all')" class="dropBox">全部</div>
				<div ng-repeat="state in viewArticleCtrl.states" ng-bind="state.name" ng-click="viewArticleCtrl.chooseState(state)" class="dropBox"></div>
				<!-- <div ng-bind="addArticleCtrl.categories[0].name" ></div> -->
			</div>
		</div>
		<!--  -->
		<div class="addArticle" ui-sref="article-add">新增</div>
		<div style="clear:both"></div>
		<!-- 标题 -->
		<div class="tableTitle">
			<div class="articleDelete"><div class="chooseDelete" ng-click="viewArticleCtrl.chooseAllDelete()"><img src="../assets/images/choose.png" style="position: relative; top:-6px;" ng-show="viewArticleCtrl.selectedAll"></div></div>
			<div class="articleId">ID</div>
			<div class="articleNum">序号</div>
			<div class="articleTitle">标题</div>
			<div class="articleclassify">所属分类</div>
			<div class="articleTag">Tag</div>
			<div class="promptTag">提示Tag</div>
			<div class="articleReleaseTime">发布日期</div>
			<div class="articleAddTime">添加日期</div>
			<div class="articleState">状态</div>
			<div class="articlePv">浏览量</div>
		</div>
		
		<!-- 显示 -->
		<div class="tableContent" ng-repeat="article in viewArticleCtrl.articles">
			<div class="articleDelete height60"><div class="chooseDelete" ng-click="viewArticleCtrl.chooseDelete(article)"><img src="../assets/images/choose.png" style="position: relative; top:-6px;" ng-show="article.isSelected"></div></div>
			<div class="articleId height60" style="text-overflow:ellipsis" title="{{article._id}}" ng-bind="article._id">1</div>
			<div class="articleNum height60" style="text-overflow:ellipsis" title="{{article.index}}" ng-bind="article.index">1</div>
			<div class="articleTitle height60" style="text-overflow:ellipsis" title="{{article.title}}" ng-bind="article.title">1</div>
			<div class="articleclassify height60" style="text-overflow:ellipsis" title="{{article.category.name}}" ng-bind="article.category.name">1</div>
			<div class="articleTag height60" style="text-overflow:ellipsis" title="{{article.showTags}}" ng-bind="article.showTags">1</div>
			<div class="promptTag height60" style="text-overflow:ellipsis" title="{{article.remindTag}}" ng-bind="article.remindTag">tag</div>
			<div class="articleReleaseTime height60" style="text-overflow:ellipsis" title="{{article.updateDate | date:'MMM d, yyyy'}}" ng-bind="article.updateDate | date:'MMM d, yyyy'">1</div>
			<div class="articleAddTime height60" style="text-overflow:ellipsis" title="{{article.addDate | date:'MMM d, yyyy'}}" ng-bind="article.addDate | date:'MMM d, yyyy'">1</div>
			<div class="articleState height60" style="text-overflow:ellipsis" title="{{article.showState}}" ng-bind="article.showState">1</div>
			<div class="articlePv height60" style="text-overflow:ellipsis" title="{{article.pv}}" ng-bind="article.pv">1</div>
			<div class="buttons">
				<div class="btnEdit" ui-sref="article-edit({id:article._id})">编辑</div>
				<div class="btnDelete" ng-click="viewArticleCtrl.dustbin(article)">删除</div>
				<div class="btnPreview">预览</div>
				<div class="btnNumUp" ng-click="viewArticleCtrl.updateIndex(article,1)">序号上移</div>
				<div class="btnNumDown" ng-click="viewArticleCtrl.updateIndex(article,2)">序号下移</div>
				<div class="btnRelease" ng-show="article.state!=2" ng-click='viewArticleCtrl.release(article._id)'>发布</div>
				<div class="btncancelReleaes" ng-show="article.state==2" ng-click='viewArticleCtrl.cancelRelease(article._id)'>撤销发布</div>
			</div>
		</div>
		<div class="batchDelete" ng-click="viewArticleCtrl.dustbin_all()">批量删除</div>
	</div>
	<pagination style="float:right;margin-right:30px;" ng-if="viewArticleCtrl.pagination.numPages > 1" total-items="viewArticleCtrl.pagination.totalItems" ng-model="viewArticleCtrl.pagination.page" items-per-page="viewArticleCtrl.pagination.itemsPerPage" max-size="viewArticleCtrl.pagination.maxSize" boundary-links="{{viewArticleCtrl.pagination.numPages > 2}}" rotate="false" num-pages="viewArticleCtrl.pagination.numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="viewArticleCtrl.pageChanged()"></pagination>
</div>
