<link href="../assets/css/article_1280.css" rel="stylesheet" type="text/css" media="screen and (min-width: 1280px) and (max-width: 1920px)">
<link href="../assets/css/article_960.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 0px) and (max-width: 1279px)">
<!-- <link href="../assets/css/article_960.css"rel="stylesheet"type="text/css"  media="screen and (min-width: 0px) and (max-width: 1129px)"> -->
<link href="../assets/css/about_us.css"rel="stylesheet"type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="Content-Disposition" content="attachment;">

<div class="css960">
	<div class="backgroundPosition">
		<!-- 导航的位置 -->
		<div class="navPosition">
			<!-- logo -->
			<div class="logo" ui-sref="main"></div>
			<!-- 上横线 -->
			<div class="upLine"></div>
			<!-- 四个导航 -->
			<div class="navs">
				<div class="nav" ng-repeat="category in aboutCtrl.categories">
					<div class="dot"><img  class="img" src="{{aboutCtrl.hostDir+category.image}}" style="width:22px;height:22px" ng-show="category.image"></div>
					<div class="navName" ng-bind="category.name" ui-sref="main({id:category._id})">城市榜单</div>
				</div>
				
			</div>
			<!-- 二维码圆 -->
			<div class="qrcodeDots">
				<a class="qrcodeDot1" ng-click="aboutCtrl.openWechatQdcode()"><img width="25px" height="25px" src="../assets/images/wechat.png"></a>
				<a class="qrcodeDot2" target="_black" ng-href="http://weibo.com/therisinglab"><img width="25px" height="25px" src="../assets/images/weibo.png"></a>
				<a class="qrcodeDot3" target="_black" ng-href="http://zhuanlan.zhihu.com/therisinglab"><img width="25px" height="25px" src="../assets/images/zhihu.png"></a>
				<a class="qrcodeDot4" ng-click="aboutCtrl.openQqQdcode()"><img width="25px" height="25px" src="../assets/images/qq.png"></a>
				<a class="qrcodeDot5" target="_black" ng-href="mailto:xinyixian@yicai.co m"><img width="25px" height="25px" src="../assets/images/email.png"></a>
			</div>
			<!-- 显示二维码圆 -->
			<div class="showQdcode" ng-show="aboutCtrl.showQdcode"><img width="170px" height="170px" src="{{aboutCtrl.qdcode}}"></div>
			<!-- 搜索 -->
			<!-- <div class="search">暂定</div> -->
			<!-- 下横线 -->
			<div class="downLine"></div>
		</div>
		<!-- about_us_nav -->
		<div class="navPosition about_Nav" >
			<img src="../assets/images/about_us_nav.jpg">
		</div>

		<!-- 内容的位置 -->
		<div class="articleContent about_content" ng-show="aboutCtrl.aboutXinyixian">
			<div>
				<div class="content_nav_left content_nav_select">
					<div ng-click="aboutCtrl.openAboutXinyixian()" style="color:#333">关于新一线</div>
					<div class="border border_green"></div>
					<div class="border border_black"></div>
				</div>
				<div class="content_nav_right">
					<div ng-click="aboutCtrl.openContractXinyixian()" style="color:#686868">联系新一线</div>
					<div class="border"></div>
					<div class="border"></div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="margin-top:30px">
				<div class="cell_logo"><img src="../assets/images/what_p1.png"></div>
				<div class="cell_content">
					<div class="cell_title">什么是新一线</div>
					<div class="cell_text">“新一线”是《第一财经周刊》首创新概念，是指那些最有可能在未来成为新的“一线城市”的城市；也泛指正在发展中的中国二三四五线城市。</div>
					<div class="cell_text">2016年4月，第一财经·新一线发布最新《中国城市商业魅力排行榜》，对中国338个地级以上城市进行排名，评选出成都、杭州、武汉、天津、南京、重庆、西安、长沙、青岛、沈阳、大连、厦门、苏州、宁波、无锡为15个“新一线城市”。</div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="margin-top:30px">
				<div class="cell_logo"><img src="../assets/images/what_p2.png"></div>
				<div class="cell_content">
					<div class="cell_title">新一线城市研究所</div>
					<div class="cell_text">第一财经旗下城市数据新闻项目。</div>
					<div class="cell_text">致力于集结城市商业数据，用新鲜视角分析、探究城市未来，为城市管理者、城市开拓者、城市人提供丰富有趣、有价值的数据内容和数据服务。</div>
					<div class="cell_text">通过研究我们发现，商业是一个城市最有活力的部分；对年轻人的吸引力决定了一个城市的未来。因此，新一线将商业数据作为评判城市的重要维度，同时，将高度关注城市中的年轻人。</div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="margin-top:30px">
				<div class="cell_logo"><img src="../assets/images/what_p3.png"></div>
				<div class="cell_content">
					<div class="cell_title">新一线产品</div>
					<div class="cell_text">新一线城市研究所拥有覆盖338座中国地级以上城市和200个品牌的城市商业数据库，30家互联网平台的用户行为数据库，以及城市基础资料库、城市商业生态数据库和基于地理信息的互联网数据库。</div>
					<div class="cell_text">目前，新一线城市研究所已经推出“商业魅力城市”、“幸福城市”、“旅游城市”、“消费城市”（超链接见下）等城市榜单报告，以及有关各行业、公司、年轻人趣味与城市结合的报告，并将推出政府、机构、企业定制的城市相关数据报告和数据服务。</div>
					<div class="cell_text">Links</div>
					<div class="cell_text link" ><a href="../assets/reportfiles/2016report-2016rank.pdf" target="_blank" style="display: inline; ;border:0px;color:#6f6f6f">商业魅力城市 reportfiles/2016report-2016rank.pdf</a></div>
					<div class="cell_text link"><a href="../assets/reportfiles/2015report-lifestylerank.pdf" target="_blank" style="display: inline; ;border:0px;color:#6f6f6f">幸  福  城  市 reportfiles/2015report-lifestylerank.pdf</a></div>
					<div class="cell_text link"><a href="../assets/reportfiles/2015report-touristcities.pdf" target="_blank" style="display: inline; ;border:0px;color:#6f6f6f">旅  游  城  市 reportfiles/2015report-touristcities.pdf</a></div>
					<div class="cell_text link"><a href="../assets/reportfiles/2015report-consumrank.pdf" target="_blank" style="display: inline; ;border:0px;color:#6f6f6f">消  费  城  市 reportfiles/2015report-consumrank.pdf</a></div>
				</div>
				<div style="clear:both"></div>
			</div>
			<div style="margin-top:30px">
				<div class="cell_logo"><img src="../assets/images/what_p4.png"></div>
				<div class="cell_content">
					<div class="cell_title">媒体报道</div>
					<a class="cell_text" target="_blank" ng-href="http://www.jfdaily.com/pl/bw/201604/t20160417_2222643.html">《“新一酱”的幸福城市》<br>link:http://www.jfdaily.com/pl/bw/201604/t20160417_2222643.html</a>
					<a class="cell_text" target="_blank" ng-href="http://www.jfdaily.com/pl/bw/201604/t20160417_2222643.html">“新一酱”的幸福城市》<br>link:http://www.jfdaily.com/pl/bw/201604/t20160417_2222643.html</a>
					
				</div>
				<div style="clear:both"></div>
			</div>
			
		</div>

		<!-- 内容的位置2 -->
		<div class="articleContent about_content" ng-show="aboutCtrl.contractXinyixian">
			<div>
				<div class="content_nav_left content_nav_select">
					<div ng-click="aboutCtrl.openAboutXinyixian()" style="color:#686868">关于新一线</div>
					<div class="border"></div>
					<div class="border"></div>
				</div>
				<div class="content_nav_right">
					<div ng-click="aboutCtrl.openContractXinyixian()" style="color:#333">联系新一线</div>
					<div class="border border_green"></div>
					<div class="border border_black"></div>
				</div>
				<div style="clear:both"></div>
			</div>

			<div class="text_word">
				<div class="text_word1">新一线城市研究所团队脱胎于《第一财经周刊》的商业报道团队，同时具备了数据新闻的分析能力，由一帮既能写代码做数据分析、又能采访报道讲故事的数据新闻记者构成。</div>
				<div class="text_word2">我们报道的方向不局限于城市商业，而是更关注与其相关的城市人的生活方式。</div>
			</div>
			
			<div class="memberIntroduction">
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/maoyimei.jpg"></div>
					<div class="introduction">毛怡玫，数据新闻记者，几乎每个月都要对某些统计网站优雅地翻个白眼</div>
				</div>
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/shencongle.jpg"></div>
					<div class="introduction">沈从乐，主编，周围这几位看上去好苦的样子，其实他们各个都超享受</div>
				</div>
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/shiyuhan.jpg"></div>
					<div class="introduction">施钰涵，数据新闻编辑，跨界做数据之后，常年这个状态</div>
				</div>
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/shiweibei.jpg"></div>
					<div class="introduction">石玮蓓，市场经理，几乎24小时在线的MKTer，热衷于所有的享乐方式</div>
				</div>
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/wangfanghong.jpg"></div>
					<div class="introduction">王方宏，设计总监，内心世界住着个任性的男子</div>
				</div>
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/xiangweixiao.jpg"></div>
					<div class="introduction">项维肖，数据新闻记者，被数据搞，被稿子虐，嗯……并不苦</div>
				</div>
				<div class="member">
					<div class="memberPhoto"><img class="img" src="../assets/images/xiaowenjie.jpg"></div>
					<div class="introduction">肖文杰，《第一财经周刊》记者，特别喜欢写新一线的稿子</div>
				</div>
				<div style="clear:both"></div>
			</div>

			<div class="contractUs">
				<div class="contractTitle">数据／品牌／商业合作</div>
				<div class="contractEmail">E:xinyixian@yicai.com / shiweibei@yicai.com</div>
				<div class="contractTel">T:021-22004339</div>
				<div class="contractAddress">ADD:上海市静安区成都北路333号招商局广场</div>
			</div>
		</div>

		<!-- 与底部的分割线 -->
		<div class="splitLine" style="width:574px;"></div>


		

		<!-- 底部链接栏 -->
		<div class="bottomLink">
			<div class="links">
				<a class="link" ui-sref="about_us">ABOUT US</a>
				<a class="link" target="_black" ng-href="http://www.cbnweek.com">第一财经周刊</a>
				<a class="link" target="_black" ng-href="http://www.yicai.com">一财网</a>
				<a class="link" target="_black" ng-href="">用户协议</a>
				<a class="link" target="_black" ng-href="">RSS订阅</a>
			</div>
			<div class="records">
				<div class="email">
					<div class="emailDot"></div>
					<a class="word" target="_black" ng-href="http://www.therisinglab.com/emailsubscribe/">邮件订阅</a>
				</div>
				<div class="record">
					<div class="recordDot"></div>
					<a class="word" target="_black" ng-href="http://www.miitbeian.gov.cn/">© 2016 第一财经.新一线城市研究所 沪ICP备15026457号-2</a>
				</div>
			</div>
		</div> 

	</div>
</div>
