
<link href="../assets/css/edit-tag.css"rel="stylesheet"type="text/css">
<div class="backgroundPosition">
	<!-- 导航栏 -->
	<div class="navs">
		<div class="nav" ui-sref="article-view">文章</div>
		<div class="nav" ui-sref="classify-view">分类</div>
		<div class="nav" ui-sref="tag-view">标签</div>
		<div class="nav" ui-sref="image-view">图片</div>
		<div style="clear:both"></div>
	</div>

	<div class="contentPosition">
		<div class="content">
			<div class="tagInfo">
				<div class="title">标签名称</div>
				<input type="text" class="input" ng-model="addTagCtrl.tags.name">
			</div>
		</div>

		<div class="buttons">
			<div class="btnSave" ng-click="addTagCtrl.save()">保存</div>
			<div class="btnCancel" ng-click="addTagCtrl.cancel()">撤销</div>
		</div>
	</div>
</div>
