
<link href="../assets/css/edit-classify.css"rel="stylesheet"type="text/css">
<div class="backgroundPosition">
	<!-- 导航栏 -->
	<div class="navs">
		<div class="nav" ui-sref="article-view">文章</div>
		<div class="nav" ui-sref="classify-view">分类</div>
		<div class="nav" ui-sref="tag-view">标签</div>
		<div class="nav" ui-sref="image-view">图片</div>
		<div style="clear:both"></div>
	</div>

	<div class="contentPosition">
		<div class="content">
			<!-- <div class="classifyInfo">
				<div class="title">项目名称</div>
				<input type="text" class="input">
			</div> -->
			<div class="classifyInfo">
				<div class="title">分类名称</div>
				<input type="text" class="input" ng-model="addClassifyCtrl.category.name">
			</div>
			<!-- <div class="classifyInfo">
				<div class="title" >Url名</div>
				<input type="text" class="input">
			</div> -->
			<div class="classifyInfo">
				<div class="title">分类图标</div>
				<div class="imageBtn" ngf-select ngf-change="addClassifyCtrl.upload($files)">上传图片</div>
			</div>
			<div class="showImage">
				<div class="img"><img src="{{addClassifyCtrl.showImage}}"></div>
				<!-- 图片进度条 -->
				<div style="width:100px;">
	            	<progressbar ng-show="addClassifyCtrl.loaded > 0" class="progress-striped progressBar" ng-class="{active: addClassifyCtrl.loaded < 100}" max="100" value="addClassifyCtrl.loaded" style="width:100px;"><span ng-bind="addClassifyCtrl.loaded"></span>%</progressbar>
	          	</div>
			</div>
			
		</div>

		<div class="buttons">
			<div class="btnSave" ng-click="addClassifyCtrl.save()">保存</div>
			<div class="btnCancel" ng-click="addClassifyCtrl.cancel()">撤销</div>
		</div>
	</div>
</div>